$font-family-base: 'Quicksand';


@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand.ttf');
    font-style: normal;
}

@import "../node_modules/bootstrap/scss/bootstrap";

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}


a {
    text-decoration: none;
    color: inherit;
}

.preview-image {
    object-fit: cover;
    transition: transform 0.2s ease;
    overflow: hidden !important;
}

.preview-image:hover {
    transform: scale(1.05);
}

.ratio-32x9 {
    --bs-aspect-ratio: 28.125%;
}